body{
	margin: 0;
	padding: 0;
	font-family: verdana;
	background: grey;
}
ul{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
}
ul li {
	position: relative;
	list-style: none;
	text-align: center;
	width: 80px;
	cursor: pointer;
}
ul li .text{
	position: absolute;
	width: 0;
	left: 50%;
	margin-top: 10px;
	margin-left: 0;
	transition: 1s;
	/*deixa o texto oculto*/
	overflow:hidden;
	white-space: nowrap;
	font-size: 18px;
	color: #fff;
}
ul li:hover .text{
	width: 120px;
	margin-left: -60px;
}